body{
    background-color: #dbddf1;
}
.header{
    background-image:linear-gradient(rgba(9,0,77,0.4),rgba(9,0,77,0.4)),url("../images/home.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/*** NavBar ***/
.navbar{
    width: 90%;
    margin: auto;
    border-radius: 6px;
}
/*** Ctalogue ***/

#portfolio{
    padding: 40px;
    margin: 0 auto;
}
.gallery-title{
    font-size: 36px;
    color: #db584e;
    padding: 40px 20px 60px;

}
div .filter-button{
    font-size: 18px;
    border: 1px solid #db584e;
    border-radius: 5px;
    text-align: center;
    color: #db584e;
    margin-bottom: 30px;
}
div .filter-button:hover{
    font-size: 18px;
    border: 1px solid #db584e;
    border-radius: 5px;
    text-align: center;
    background-color: #db584e;
    color: #fff;
    
}
#portfolio div .active{
    background-color: #db584e;
color: #fff;
  }
  .img-gallery{
      box-shadow: 0px 0px 15px rgba(9,0,77,0.4);
  }